*{
    padding:0;
    margin:0;
}
html{
    font-size:14px;
    color:#333;
    background: #f4f4f2 url(../img/bg-grey.png);
}
.main{
    width:1000px;
    margin:0 auto 50px auto;
}
.header{
    height:80px;
}
.logo{
    font-size:1.5rem;
    float:left;
    width:200px;
    text-align: left;
    margin-top: 24px;
    margin-right: 40px;
    height: 32px;
}
.search{
    height:32px;
    display:inline-block;
    border: solid 1px #e5e5e5;
    margin-top:24px;
    line-height: 32px;
    vertical-align:top;
    background:white;
}
.searchbar{
    width:530px;
    font-size:1.2rem;
    outline:0;
    border:0;
    padding:5px;
    display:inline-block;
    height:22px;
    float:left;
}
.searchbutton{
    width:32px;
    height:32px;
    background:#0078d7 url(../img/search.png);
    display:inline-block;
    background-size:60%;
    background-position: center;
    background-repeat:no-repeat;
    cursor: pointer;
}
.searchbutton:hover{
    background:#3d9be7 url(../img/search.png);
    background-size:60%;
    background-position: center;
    background-repeat:no-repeat;
}


.title{
    font-size:1.25rem;
    margin-top:1rem;
    margin-bottom:1.4rem;
    height:1.25rem;
}

.first{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.firstitem{
    width:110px;
    height:120px;
    text-align: center;
    border: solid 1px rgb(221, 221, 221);
    margin-bottom:10px;
    text-decoration: none;
    background-size:cover;
    background-position:center;
    background:#fff;
    transition: 0.2s;
    position:relative;
    overflow: hidden;
}
.firstitem:hover{
    background:#eee;
}
.firstitem img{
    width:40px;
    height:40px;
    display:inline-block;
    margin:20px 0 10px 0;
    z-index: 1;
    position: relative;
}
.firstitem .firsttitle{
    text-decoration: none;
    z-index: 1;
    position: relative;
}
.firstbgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    background-size:50%;
    background-position: center;
    filter: blur(0px) opacity(0);
    transition: 0.5s;
}
@keyframes firstitembgimg{
    from{transform: rotate(300deg);}
    to{transform: rotate(360deg);}
}
.firstitem:hover .firstbgimg{
    filter: blur(14px) opacity(0.3);
    background-size:250%;
    animation: firstitembgimg 0.5s ease 0s alternate;
}

.second{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:1px 15px 15px 15px;
    background:#fff;
    margin-top:20px;
    border: solid 1px rgb(231, 231, 231);
}
.seconditem{
    width:120px;
    text-decoration: none;
    color:#333;
    margin-top:14px;
    margin-right:30px;
}
.seconditem img{
    width:20px;
    height:20px;
    display:block;
    float:left;
    margin-right:5px;
}

.third{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:50px;
}
.thirditem{
    width:310px;
    background:#fff;
    margin-top:30px;
    border: solid 1px rgb(231, 231, 231);
}
.thirditem .thirdtitle{
    margin: 20px 0 20px 20px;
    font-size:1.2rem;
}
.thirditem hr{
    border:0;
    height:1px;
    background:rgb(226, 226, 226);
    margin:10px;
}
.thirditem .thirdval{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:20px;
}
.thirditem .thirdval .thirdlink{
    text-decoration: none;
    color:#333;
    display:block;
    width:70px;
    margin-bottom:10px;
}

.thirditem .thirdval .thirdlink:hover,
.seconditem:hover{
    text-decoration:underline;
    color:rgb(255, 167, 67);
}

.main>.header,
.main>.title,
.main>.first,
.main>.second,
.main>.third{
    display:none;
}
.main>.header.display,
.main>.title.display{
    display:block;
}
.main>.first.display,
.main>.second.display,
.main>.third.display{
    display:flex;
}






/*多尺寸适配*/
@media screen and (max-width:1100px){
    .main{
        width:500px;
    }
    .logo{
        width:160px;
    }
    .searchbar{
        width: 240px;
    }
    .thirditem{
        width:240px;
    }
}







/*墓碑元素*/
.loading .header .logo,
.loading .header .search,
.loading .title
{
    background:#e1e1e1;
}
.loading .title{
    width:200px;
}
.loading .header .search{
    width:calc(574px);
    border:none;
}
.loading .first .firstitem:hover{
    background:#fff;
}
.loading .second .seconditem{
    width:120px;
    height:20px;
    background:#eee;
}
.loading .third .thirdtitle{
    height:1em;
    background:#eee;
    width:200px;
}
.loading .third .thirdlink{
    height:1em;
    background:#eee;
}

/*墓碑元素多尺寸适配*/
@media screen and (max-width:1100px){
    .loading .header .search{
        width:240px;
    }
}